include LICENSE
include README.md
exclude tox.ini
exclude *.yaml
exclude *.yml

recursive-exclude brainglobe_napari_io *.xml
recursive-exclude brainglobe_napari_io *.yaml

graft .napari
prune resources
