include CITATION.cff
include LICENSE
include README.md
exclude tox.ini
exclude .pre-commit-config.yaml

exclude *.yml
exclude *.yaml
recursive-exclude tests *

recursive-exclude brainglobe_napari_io *.xml
include brainglobe_napari_io/napari.yaml

prune .napari
prune resources
